---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Modal from "@components/Modal.astro";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { Image } from "astro:assets";
import localJitzImage from "../assets/images/jitz.jpg";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Modal id="dialog" open="Open modal">
    <main id="main" slot="main">
      <div class="inner-container">
        <div>
          <Image
            src={localJitzImage}
            alt="Two men pracitsicing Jiu Jitsu."
            style={{ height: "500px", opacity: 0.3 }}
          />
          <h2 class="header">Join the Newsletter</h2>
          <p class="description">
            Subscribe to get exclusive content by email.
          </p>
        </div>

        <div class="form-container">
          <input class="email-input" placeholder="Email Address" />
          <button class="submit-button">Subscribe</button>
        </div>
      </div>
    </main>
    <button class="close-button" slot="close">X</button>
  </Modal>

  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Why you Should Practice Jiu Jitsu</h1>
      <p>
        Sure, learning to pin someone, isolate their limbs and snap them one by
        one is super cool. It’s also really cool knowing you have the power to
        strangle another man unconscious with your bare hands.
      </p>

      <br />

      <p>
        More importantly however, jiu jitsu teaches you how to <span
          class="italic">escape</span
        > bad positions. Hélio Gracie, one of the founders of jiu jitsu has been
        quoted as saying jiu jitsu is about <span class="italic">survival</span
        >.
      </p>

      <br />

      <p>
        Sometimes all we can do is survive. Sometimes surviving five minutes can
        determine whether we live or die. Whether someone walks by and is able
        to help us.
      </p>

      <br />

      <p>
        So far, we’ve discussed why you should practice jiu jitsu from both an
        offensive and a defensive perspective. Now however, is the <span
          class="italic">most</span
        > important reason why you practice jiu jitsu. Jiu jitsu <span
          class="italic">changes you</span
        >.
      </p>

      <br />

      <p>
        Jiu jitsu is a practice that allows you to face your fears. Over and
        over, day after day. Eventually you learn to be comfortable when
        experiencing fear. You learn to breathe. To focus on your next move. To
        relax.
      </p>

      <br />

      <p>
        By <LinkButton href="https://joshuajones.io/" newTab={true}>
          Joshua Jones
        </LinkButton>
      </p>

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
